<!-- Vendor JS Files -->
<div id="preloader"></div>

<script src="{{ .Site.BaseURL }}vendor/jquery/jquery.min.js"></script>
<script src="{{ .Site.BaseURL }}vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="{{ .Site.BaseURL }}vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="{{ .Site.BaseURL }}vendor/php-email-form/validate.js"></script>
<script src="{{ .Site.BaseURL }}vendor/waypoints/jquery.waypoints.min.js"></script>
<script src="{{ .Site.BaseURL }}vendor/counterup/counterup.min.js"></script>
<script src="{{ .Site.BaseURL }}vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="{{ .Site.BaseURL }}vendor/venobox/venobox.min.js"></script>
<script src="{{ .Site.BaseURL }}vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="{{ .Site.BaseURL }}vendor/typed.js/typed.min.js"></script>
<script src="{{ .Site.BaseURL }}vendor/aos/aos.js"></script>

<!-- Template Main JS File -->
<script src="{{ .Site.BaseURL }}js/main.js"></script>