<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="{{ .Site.BaseURL }}vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="{{ .Site.BaseURL }}vendor/icofont/icofont.min.css" rel="stylesheet">
<link href="{{ .Site.BaseURL }}vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="{{ .Site.BaseURL }}vendor/venobox/venobox.css" rel="stylesheet">
<link href="{{ .Site.BaseURL }}vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="{{ .Site.BaseURL }}vendor/aos/aos.css" rel="stylesheet">

<link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css" />